<!DOCTYPE html>
<html>
  <head>
    <title>Alexa Smart TV</title>
    <%= csrf_meta_tags %>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="page-color">
    <%= yield %>
       <center><div style="color: white;">©shemeshapps. All rights reserved.  <a href='/privacy' style="color:#4286f4">Privacy Policy</a> </div></center>

  </body>
</html>