log/*.log
**/*.spec.log
db/*.sqlite3
db/schema.rb
tmp
shared/log/*
tmp/**/*
public/assets/*
public/cache/*
public/images/themes/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/themes
public/files/*
*.swp
vendor/engines/adva_rbac/spec/db/*.sqlite3
vendor/engines/adva_rbac/spec/log/*
.DS_Store
*.so
*.dylib
*.o
*.bundle
Makefile
*.out
mkmf.log
coverage.data
